.main-container {
    width: 80%;
    height: auto;
    margin: auto;
}

*:not(.main-container) {
    box-sizing: content-box;
}

.container {
    background-color: #F1e088;
    padding: 40px;
    border-radius: 50px;
    margin-left: 35px;
    margin-right: 35px;
}

.donation-container {
    gap: 150px;
    padding-left: 25px;
    padding-right: 25px;
}

.top-text-donation {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
    padding-left: 25px;
}

.description-text {
    font-size: 22px;
}

.number-text {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 15px;
}

.img-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.animal-img {
    width: 60px;
    height: 60px;
}
