@media only screen and (min-width: 1024px) {
    .main-container {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    *:not(.main-container) {
        box-sizing: content-box;
    }

    .container {
        background-color: #F1e088;
        width: 100%;
        padding: 40px;
        border-radius: 50px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .donation-container {
        gap: 250px;
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
    }

    .top-text-donation {
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 15px;
        padding-left: 25px;
    }

    .description-text {
        font-size: 18px;
        font-weight: 400;
    }

    .number-text {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 15px;
    }

    .img-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .animal-img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .main-container {
        justify-content: center;
        margin-bottom: 50px;
    }

    *:not(.main-container) {
        box-sizing: content-box;
    }

    .container {
        background-color: #F1e088;
        width: 80%;
        padding: 15px;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .top-text-donation {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 15px;
        padding-left: 25px;
    }

    .description-text {
        font-size: 14px;
        font-weight: 400;
    }

    .number-text {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .right-container {
        margin-top: 15px;
    }

    .img-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .animal-img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}
