.main-pas-container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.pas-container {
    height: auto;
    margin-left: 35px;
    margin-right: 35px;
    justify-content: center;
}

.pas-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
}

.pas-points-container {
    gap: 5%;
}

.pas-container-point-image {
    height: 64px;
    width: 64px;
    border-radius: 30px;
    background-color: #fdf4e1;
    margin-bottom: 32px;
}

.pas-point-image {
    height: 32px;
    width: auto;
    margin: auto;
    padding: 15px;
}

.pas-point-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
    color: #333333;
}

.pas-point-description {
    font-weight: lighter;
    color: #555555;
    font-size: 16px;
    line-height: 38px;
}
