.AF-container {
    border-right: solid 1px #9D9D9D;
    padding: 10px 30px 10px 20px;
    margin-right: 60px;
    width: 20%;
    height: auto;
}

.AF-title {
    font-weight: 500;
    font-size: 24px;
}

.AF-name {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 20px
}

