.changing-searching-options {
    align-items: center;
    position: relative;
}

.changing-searching-options-top-part-open {
    position: relative;
    display: flex;
    border-top: 4px solid #8D451D;
    padding: 18px 20px 14px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.top-part-options-chevron-down {
    color: #7b7b7b;
    font-size: 20px;
    position: absolute;
    right: 20px;
}

.top-part-options-chevron-none {
    display: none;
}

.top-part-options-chevron-up, .top-part-options-chevron-down:hover {
    color: #8D451D;
    font-size: 20px;
    position: absolute;
    right: 20px;
}

.changing-searching-options-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.changing-searching-options-top-part {
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 18px 20px 18px 20px;
}

.searching-options {
    display: flex;
}

.top-part-options {
    color: #9A9A9A;
    font-size: 16px;
    padding-right: 15px;
}

.top-part-selected-options {
    color: #7b7b7b;
    font-size: 16px;
    padding-right: 5px;
    padding-top: 1px;
}

.top-part-selected-options-answer {
    color: #555555;
    font-size: 16px;
    padding-right: 10px;
    padding-top: 1px;
}

.top-part-hidden-box {
    width: 660px;
    padding: 15px 20px 20px 20px;
    background-color: white;
    position: absolute;
    z-index: 100;
    animation-name: going-down;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}

/* This is for div animation */
@keyframes going-down {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 60px;
        opacity: 1;
    }
}

.csof-first-row, .csof-second-row, .csof-third-row {
    display: flex;
    margin-bottom: 20px;
    margin-left: 70px;
}

.csof-description {
    font-size: 14px;
    font-weight: 300;
    color: #7b7b7b;
}

.csof-breed-container, .csof-age-container,
.csof-category-container, .csof-weight-container {
    width: 50%;
}

.csof-fourth-row {
    text-align: right;
    margin-bottom: 10px;
    margin-right: 95px;
}

.btn-search-changing-options {
    background-color: #8D451D;
    color: white;
    font-size: 18px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #8D451D;
}

.btn-search-changing-options:hover {
    background-color: white;
    color: #8D451D;
    border: solid 1px #8D451D;
}

