.main-cart-container {
    width: 80%;
    margin: 50px auto 100px auto;

}

.cart-top-part {
    display: flex;
    width: 100%;
    position: relative;
}

.cart-summary-container {
    right: 0;
    position: absolute;
    background-color: #FCFCFC;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    top: 35px;
}

.cart-summary-title {
    margin: 10px 35px 0 35px;
    font-weight: 500;
    font-size: 24px;
}

.cart-summary {
    margin: 10px 35px 35px 35px;
}

.cs-info-row {
    display: flex;
    width: 250px;
    position: relative;
}


.cs-info-title {
    font-size: 18px;
    font-weight: 300;

}

.cs-info-value {
/*    font-weight: 500;*/
    font-size: 18px;
    position: absolute;
    right: 0;
}

.cs-info-last-row {
    display: flex;
    border-top: 2px solid #464646;
    width: 250px;
    position: relative;
    margin-top: 15px;
    padding-top: 15px;
}

.cs-order-cost {
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    right: 0;
    color: #8D451D;
}

.cart-summary-btn{
    color: white;
    font-size: 20px;
    background-color: #8D451D;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 0 auto 35px auto;
}

.cart-summary-btn:hover{
    border-radius: 0;
}

.cart-summary-btn-container{
    width: 100%;
    text-align: center;
}

.main-dm-container {
    margin: 50px 0 100px 0;
    width: 60%;
}

.dm-title {
    margin: 0 0 35px 0;
    font-weight: 500;
    font-size: 24px;
}

.dm-column-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 25px;
    column-gap: 25px;
}

.dm-container {
    width: 400px;
    height: 100px;
    display: flex;
}

.dm-detail-container {
    width: 380px;
    height: 100px;
    border: 1px solid #D2D2D2;
    display: flex;
    position: relative;
}

.dm-choose-button {
    margin: auto 15px auto 0;
    font-size: 30px;
    color: #D2D2D2;
}

.dm-choose-button:hover {
    color: #af7d61;
    cursor: pointer;
}

.dm-choose-button-choose{
    margin: auto 15px auto 0;
    font-size: 30px;
    color: #8D451D;
}

.dm-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: auto 15px auto 15px;
}

.dm-name {
    margin: auto 15px auto 0;
    font-size: 18px;
    font-weight: 500;
}

.dm-price {
    margin: auto 0 auto 0;
    font-size: 18px;
    font-weight: 500;
    color: #8D451D;
    position: absolute;
    right: 10px;
    top: 35px;
}
