.main-AP-container {
    width: 80%;
    margin: 50px auto 100px auto;
    display: flex;
}

.AP-container {
    width: 80%;
}

.AP-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.AP-FORM-base-info {
    display: flex;
}

.AP-image-upload, .AP-image-upload-desc {
    display: grid;
    place-items: center;
    position: relative;
    height: 250px;
    width: 250px;
    background: #EFEFEF;
    border-radius: 20px;
    margin-right: 50px;
}

.AP-camera-icon {
    font-size: 200px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    --ionicon-stroke-width: 16px;
    color: #B4B3B3;
}

.AP-upload-image-label {
    text-align: center;
    color: #666666;
    cursor: pointer;
}

.AP-add-image-input {
    display: none;
}

.AP-image-preview {
    position: relative;
    border: 1px solid #666666;
    border-radius: 20px;
}

.AP-close-icon {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    font-size: 30px;
}

.AP-uploaded-image {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.EA-image-upload {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.AP-base-info-part {
    width: 75%;
    height: auto;
}

.AP-base-info-second-part {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 35px;
    column-gap: 35px;
}

.AP-extra-info-container, .AP-composition-container, .AP-dosage-container {
    margin: 50px 0;
}

.AP-title-of-section {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 35px;
}

.AP-extra-info-inputs {
    display: flex;
}

.date-picker {
    border: 1px solid #D3D3D3;
    width: 250px;
    height: 55px;
    border-radius: 5px;
    padding-left: 10px;
    color: #303030;
}

.date-picker:hover {
    border: 1px solid black;
}

.react-datepicker__close-icon {
    right: 0 !important;
}

.react-datepicker__input-container, .react-datepicker-wrapper {
    width: auto !important;
    border: none !important;
    outline: none !important;
}

.date-picker::placeholder {
    color: #666666;
}

.AP-extra-info-weight-info {
    margin: 0 120px;
}

.AP-description-extra {
    margin-top: 35px;
    margin-bottom: 50px;
}

.AP-image-upload-desc {
    margin: 0 auto;
}

.AP-composition-extra {
    margin-top: 35px;
}

.AP-title-of-section-ac{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.AP-title-of-section-ac-desc{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
}

.AP-AC-inputs{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 65px;
}

.AP-dosage-inputs{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 120px;
}

.AP-form-btn-container{
    width: 100%;
    text-align: right;
}

.AP-form-btn{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #8D451D;
    color: white;
    margin: 0 auto 15px auto;
    font-size: 18px;
    border: solid 2px #8D451D;
}

.AP-form-btn:hover{
    background-color: transparent;
    color: #8D451D;
    border: solid 2px #8D451D;
    font-size: 18px;
}

.delete-element-btn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #BF1515;
    color: white;
    margin: 0 0 15px 0;
    font-size: 18px;
    border: solid 2px #BF1515;
}

.delete-element-btn:hover{
    background-color: transparent;
    color: #BF1515;
    border: solid 2px #BF1515;
    font-size: 18px;
}

.cancel-delete-element-btn:hover{
    background-color: #666666;
    color: white;
    border: solid 2px #666666;
}

.cancel-delete-element-btn{
    background-color: transparent;
    color: #666666;
    border: solid 2px #666666;
    font-size: 18px;
    margin: 0 50px 15px 0;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
