.main-slider-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#slider::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .adoption-slider{
        margin-bottom: 100px;
    }

    .slider-title {
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 48px;
    }

    .slider-icon-others.left, .slider-icon-others.right {
        display: none;
    }

    .slider-icon.left, .slider-icon.right {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #efefef;
        opacity: 0.7;
        border: transparent;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 100;
        font-size: 30px;
    }

    .slider-icon.left {
        top: 37%;
        left: 9.8%;
        transform: translateY(-60%);

    }

    .slider-icon.right {
        top: 37%;
        right: 9.8%;
        transform: translateY(-60%);
    }

    .slider-icon.left:hover, .slider-icon.right:hover {
        opacity: 1;
    }

    .main-slider-container {
        height: 340px;
    }

    #slider {
        width: 100%;
        height: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
        margin-left: 35px;
        margin-right: 35px;
    }

    .slider-card {
        width: 250px;
        height: 310px;
        background: white;
        display: inline-block;
        margin-right: 25px;
        cursor: pointer;
    }

    .slider-card-image {
        height: 250px;
        width: 250px;
        margin: auto;
        border-radius: 20px;
    }

    .slider-pet-name {
        margin-top: 10px;
        margin-left: 2px;
        font-weight: bold;
        font-size: 20px;
    }

    .slider-pet-breed {
        margin-left: 2px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1024px) {
    .adoption-slider{
        margin-bottom: 50px;
    }

    .slider-title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    .slider-icon.left, .slider-icon.right {
        display: none;
    }

    .slider-icon-others.left, .slider-icon-others.right {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #efefef;
        opacity: 0.8;
        border: transparent;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 50;
        font-size: 20px;
    }

    .slider-icon-others.left {
        top: 45%;
        left: 16%;
        transform: translateY(-60%);

    }

    .slider-icon-others.right {
        top: 45%;
        right: 16%;
        transform: translateY(-60%);
    }

    .slider-icon-others.left:hover, .slider-icon-others.right:hover {
        opacity: 1;
    }

    .main-slider-container {
        height: 300px;
        width: 250px;
    }

    #slider {
        white-space: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }

    .slider-card {
        width: 250px;
        height: 250px;
        background: white;
        display: inline-block;
        cursor: pointer;
        text-align: center;
    }

    .slider-card-image {
        height: 200px;
        width: 200px;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .slider-pet-name {
        margin-top: 10px;
        margin-left: 2px;
        font-weight: bold;
        font-size: 16px;
    }

    .slider-pet-breed {
        margin-left: 2px;
        font-size: 12px;
    }
}
