.product-inlist-container {
    height: 280px;
}

.product-inlist-container:hover {
    transform: scale(1.1);
}

.product-list-img {
    height: 200px;
    width: auto;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.product-list-title {
    font-size: 16px;
    margin-bottom: 8px;
}

.product-list-sec-row, .product-list-rating-container {
    display: flex;
    vertical-align: middle;
    width: 100%;
    height: 40px;
    position: relative;
}

.product-list-star {
    color: #F29F05;
    font-size: 20px;
}

.product-list-rating {
    font-size: 16px;
    margin-left: 5px;
    margin-top: 3px;
}

.product-list-container-price {
    padding-right: 10px;
    position: absolute;
    right: 0;
    display: flex;
    bottom: 12px;
}

.product-list-price {
    font-size: 20px;
    color: #8D451D;
    font-weight: 500;
}

.product-list-price-promotion {
    font-size: 20px;
    color: #BF1515;
    font-weight: 500;
    margin-bottom: 5px;
}

.product-list-container-price-old {
    padding-right: 10px;
    position: absolute;
    right: 0;
    padding-top: 5px;
    bottom: 0;
}

.product-list-price-old{
    font-size: 16px;
    text-decoration-line: line-through;
    font-weight: 400;
    color: #464646;
    padding-top: 5px;
    padding-right: 10px;
}

.product-list-container {
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
}
