@media only screen and (min-width: 1024px) {
    .main-slider-promotion-container {
        width: 35%;
        height: auto;
        position: relative;
        margin-right: 35px;
    }

    .slider-promotion-container {
        width: 450px;
        height: auto;
        overflow: hidden;
        position: relative;
        margin-left: auto;
    }

    .promotion-container {
        opacity: 0;
        position: absolute;
    }

    .promotion-image {
        object-fit: cover;
    }

    .slider-paw-container {
        position: absolute;
        left: 55%;
        transform: translateX(-50%);
        top: 100%;
        padding-left: 20px;
    }

    .paw-first {
        transform: rotate(-25deg);
        font-size: 30px;
        color: #8D451D;
        padding-right: 5px;
    }

    .paw-second {
        transform: rotate(-25deg);
        font-size: 25px;
        color: #b4b3b3;
        padding-right: 5px;
    }

    .paw-second:hover {
        color: #af7d61;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1024px) {
    .main-slider-promotion-container {
        width: 80%;
        height: auto;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .slider-promotion-container {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
    }

    .promotion-container {
        opacity: 0;
        position: absolute;
    }

    .promotion-image {
        object-fit: cover;
    }

    .slider-paw-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 92%;
    }

    .paw-first {
        transform: rotate(-25deg);
        font-size: 24px;
        color: #8D451D;
        padding-right: 5px;
    }

    .paw-second {
        transform: rotate(-25deg);
        font-size: 20px;
        color: #b4b3b3;
        padding-right: 5px;
    }

    .paw-second:hover {
        color: #af7d61;
        cursor: pointer;
    }
}
