.main-slider-promotion-container {
    width: 35%;
    height: auto;
    position: relative;
}

.slider-promotion-container {
    height: 670px;
    overflow: hidden;
    position: relative;
    padding-left: 50px;
}

.promotion-container {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 500px;
}

.promotion-image {
    object-fit: cover;
    height: 500px;
    width: 100%;
}

.slider-paw-container {
    position: absolute;
    gap: 10px;
    left: 55%;
    transform: translateX(-50%);
    top: 95%
}

.paw-first {
    transform: rotate(-25deg);
    font-size: 30px;
    color: #8D451D;
}

.paw-second {
    transform: rotate(-25deg);
    font-size: 25px;
    color: #b4b3b3;
}

.paw-second:hover {
    color: #af7d61;
    cursor: pointer;
}
