.promotion-container {
    opacity: 0;
    position: absolute;
}

.promotion-image {
    object-fit: cover;
}

.paw-second:hover {
    color: #af7d61;
    cursor: pointer;
}

.main-slider-promotion-container {
    width: 35%;
    height: auto;
    position: relative;
    margin-right: 35px;
}

.slider-promotion-container {
    width: 450px;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-left: auto;
}

.slider-paw-container {
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    top: 100%;
    padding-left: 20px;
}

.paw-first {
    transform: rotate(-25deg);
    font-size: 30px;
    color: #8D451D;
    padding-right: 5px;
}

.paw-second {
    transform: rotate(-25deg);
    font-size: 25px;
    color: #b4b3b3;
    padding-right: 5px;
}
