/* General styles for all devices */
.navlinks-container {
    padding-left: 0.75rem; /* 12px */
    padding-right: 0.75rem; /* 12px */
}

.navlinks-title:hover {
    font-weight: 400;
    color: #f29f05;
}

@media only screen and (min-width: 1024px) {
    .nav-container {
        width: 100%;
    }

    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navlinks-title {
        padding-top: 5px;
        padding-bottom: 15px;
        font-size: 18px;
        margin-left: 10px;
        cursor: pointer;
        font-weight: 300;
    }

    .nav-searchbar {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-container {
        display: none;
    }

    .nav-searchbar {
        margin-bottom: 25px;
        justify-content: center;
    }

    .navlinks-title {
        padding-bottom: 15px;
        font-size: 16px;
        margin-left: 8px;
        cursor: pointer;
        font-weight: 300;
    }
}
