.main-LOU-container {
    width: 80%;
    margin: 50px auto 100px auto;
    display: flex;
}

.LOU-container {
    width: 80%;
}

.LOU-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

.LOU-one-part-container{
    position: relative;
    width: 220px;
    height: 120px;
    border: 1px solid #B4B3B3;
}

.LOU-login {
    padding: 20px 0 5px 15px;
    font-size: 16px;
}

.LOU-name{
    padding: 0 0 5px 15px;
    font-size: 16px;
}

.LOU-lastname{
    padding: 0 0 15px 15px;
    font-size: 16px;
}
