.header-icon:hover {
    color: #f29f05;
}

.header-icon {
    font-size: 30px;
    cursor: pointer;
    padding-left: 15px;
}

.header-icon-link {
    padding-top: 15px;
    width: 40px;
    height: 40px;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
