.footer-main-container {
    background-color: #efefef;
    justify-content: center;
}

.footer-logo-container-img {
    height: 80px;
}

.footer-column-link:hover {
    color: #f29f05;
}

.footer-container {
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    display: flex;
}

.footer-logo-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-right: 100px;
}

.footer-columns-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
    padding: 60px 62px 60px 62px;
}

.footer-paypal-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-left: 120px;
    margin-bottom: 120px;
}

.page-bottom-container {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-bottom-text-left {
    display: flex;
    justify-content: flex-start;
    width: 33%;
    padding-right: 30px;
}

.page-bottom-text-right {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    padding-left: 64px;
}

.footer-paypal-container-img {
    width: 120px;
}

.footer-column-container {
    padding-right: 30px;
    border-color: rgb(209 213 219);
    border-right-width: 2px;
}

.footer-column-title {
    font-weight: 500;
    margin-bottom: 5px;
}

.footer-column-link {
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    transition-duration: 300ms;
    line-height: 2rem;
}

.footer-page-title, .page-bottom-container-mobile {
    display: none;
}

