.checkbox-filters-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    padding-left: 25px;
    padding-bottom: 5px;
    /*margin-left: 35px;*/
}

.checkbox-filters-number {
    display: inline-block;
    font-weight: 300;
    color: #b8b8b8;
}

/* Hide the default checkbox */
input[type=checkbox] {
    visibility: hidden;
}

.checkbox-filters-container:hover input ~ .custom-checkmark,
.checkbox-filters-container input:active ~ .custom-checkmark {
    background-color: transparent;
    border: solid 1px #666666;
}

.checkbox-filters-container input:checked ~ .custom-checkmark {
    background-color: #8D451D;
}

.custom-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-filters-container input:checked ~ .custom-checkmark:after {
    display: block;
}

.checkbox-filters-container .custom-checkmark:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.price-filter-line {
    display: inline-block;
    width: 15px;
    border: solid 1px #e1e1e1;
    background-color: #e1e1e1;
    margin-top: 15px;
}

.no-product-message {
    text-align: center;
    font-size: 18px;
}


    .main-container-products-list {
        width: 80%;
        margin: 10px auto 100px auto;
    }

    .products-filters-list-container {
        display: flex;
    }

    .filter-container {
        border: solid 1px #9D9D9D;
        padding: 10px 20px 10px 20px;
        margin-right: 60px;
        width: 20%;
        height: 300px;
    }

    .filter-title {
        font-weight: 700;
        font-size: 24px;
    }

    .filter-name {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
        margin-top: 20px
    }

    .custom-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: solid 1px #D3D3D3;
    }

    .right-side-csof-sorting-by-price {
        display: flex;
    }

    .rs-sorting-by-price {
        margin-top: 2px;
        width: 26%;
        text-align: right;
    }

    .products-list-container {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .products-filters-list-container-mobile {
        display: none;
    }

