.main-dm-container {
    margin: 50px 0 100px 0;
    width: 60%;
}

.dm-title {
    margin: 0 0 35px 0;
    font-weight: 500;
    font-size: 24px;
}

.dm-column-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 25px;
    column-gap: 25px;
}

.dm-container {
    width: 400px;
    height: 100px;
    display: flex;
}

.dm-detail-container {
    width: 380px;
    height: 100px;
    border: 1px solid #D2D2D2;
    display: flex;
    position: relative;
}

.dm-choose-button {
    margin: auto 15px auto 0;
    font-size: 30px;
    color: #D2D2D2;
}

.dm-choose-button:hover {
    color: #af7d61;
    cursor: pointer;
}

.dm-choose-button-choose{
    margin: auto 15px auto 0;
    font-size: 30px;
    color: #8D451D;
}

.dm-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: auto 15px auto 15px;
}

.dm-name {
    margin: auto 15px auto 0;
    font-size: 18px;
    font-weight: 500;
}

.dm-price {
    margin: auto 0 auto 0;
    font-size: 18px;
    font-weight: 500;
    color: #8D451D;
    position: absolute;
    right: 10px;
    top: 35px;
}
