.main-LOPS-container {
    width: 80%;
    margin: 50px auto 100px auto;
    display: flex;
}

.LOPS-container {
    width: 80%;
}

.LOPS-top-part {
    margin-bottom: 50px;
    display: flex;
    position: relative;
}

.LOPS-title {
    font-size: 20px;
    font-weight: 500;
}

.LOPS-top-part-icons {
    right: 0;
    position: absolute;
}

.LOPS-option-icon {
    font-size: 22px;
    color: #464646;
    margin-left: 10px;
}

.LOPS-option-icon:hover {
    color: #8D451D;
}

.LOPS-list-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 50px;
}

.LOPS-one-part-container{
    position: relative;
    width: 220px;
    border: 1px solid #B4B3B3;
}

.LOPS-animal-image{
    margin: 20px 20px 0 20px;
    height: 160px;
    width: 170px;
    object-fit: cover;
}

.LOPS-name {
    padding: 20px 0 5px 15px;
    font-size: 18px;
}

.LOPS-list-star {
    color: #F29F05;
    font-size: 20px;
}

.LOPS-list-rating {
    font-size: 16px;
    margin-left: 5px;
    margin-top: 1px;
}
.LOPS-product-info{
    display: flex;
    padding: 5px 0 0 15px;
}

.LOPS-list-container-price {
    position: absolute;
    right: 15px;
    bottom: 12px;
}

.LOPS-list-price {
    font-size: 20px;
    color: #8D451D;
    font-weight: 500;
}
