.link-header {
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.header {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: solid 1px #d2d2d2;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
}

.header-container {
    width: 80%;
    margin: auto;
    display: flex;
}

.title {
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 34px;
    padding-top: 10px;
}

.header-searchbar {
    padding-top: 10px;
}
