@media only screen and (min-width: 1024px) {
    .header {
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: solid 1px #d2d2d2;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
    }

    .header-container {
        width: 80%;
        margin: auto;
        display: flex;
    }

    .link-header {
        cursor: pointer;
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    .title {
        font-family: 'Bebas Neue', cursive;
        color: black;
        font-size: 38px;
        padding-top: 10px;
        padding-left: 15px;
    }

    .logo {
        width: 64px;
        height: 64px;
    }

    .header-searchbar {
        padding-top: 10px;
    }

    .header-icons {
        width: 50%;
        padding-top: 10px;
    }
}

/* Styles for phone amd tablets */
@media only screen and (max-width: 1024px) {
    .header {
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: solid 1px #d2d2d2;
        width: 100%;
        display: flex;
    }

    .header-container {
        width: 90%;
        margin: auto;
        display: flex;
    }

    .link-header {
        width: 50%;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
    }

    .title {
        font-family: 'Bebas Neue', cursive;
        color: black;
        font-size: 18px;
        padding-top: 5px;
        padding-left: 15px;
    }

    .logo {
        width: 32px;
        height: 32px;
    }

    .header-searchbar {
        display: none;
    }

    .header-icons {
        width: 50%;
        padding-top: 5px;
        justify-content: flex-end;
    }
}
