@media only screen and (min-width: 1024px) {
    /* Styles for ProductsList file */
    .main-container-products-list {
        width: 80%;
        margin: 10px auto 100px auto;
    }

    .products-filters-list-container {
        display: flex;
    }

    .filter-container {
        border: solid 1px #9D9D9D;
        padding: 10px 20px 10px 20px;
        margin-right: 60px;
        width: 20%;
        height: 450px;
    }

    .filter-title {
        font-weight: 700;
        font-size: 24px;
    }

    .filter-name {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
        margin-top: 20px
    }

    .checkbox-filters-container {
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 16px;
        padding-left: 30px;
        padding-bottom: 5px;
    }

    .checkbox-filters-number {
        display: inline-block;
        font-weight: 300;
        color: #b8b8b8;
    }

    /* Hide the default checkbox */
    input[type=checkbox] {
        visibility: hidden;
    }

    .custom-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: solid 1px #D3D3D3;
    }

    .checkbox-filters-container:hover input ~ .custom-checkmark,
    .checkbox-filters-container input:active ~ .custom-checkmark {
        background-color: transparent;
        border: solid 1px #666666;
    }

    .checkbox-filters-container input:checked ~ .custom-checkmark {
        background-color: #8D451D;
    }

    .custom-checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkbox-filters-container input:checked ~ .custom-checkmark:after {
        display: block;
    }

    .checkbox-filters-container .custom-checkmark:after {
        left: 8px;
        bottom: 5px;
        width: 6px;
        height: 12px;
        border: solid white;
        border-width: 0 4px 4px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .price-filter-line {
        display: inline-block;
        width: 15px;
        border: solid 1px #e1e1e1;
        background-color: #e1e1e1;
        margin-top: 18px;
    }

    .right-side-csof-sorting-by-price {
        display: flex;
    }

    .rs-sorting-by-price {
        margin-top: 2px;
        width: 26%;
        text-align: right;
    }

    .products-list-container {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .product-list-container {
        grid-column: span 1 / span 1;
        grid-row: span 1 / span 1;
    }

    .product-list-container:hover {
        transform: scale(1.1);
    }

    .product-list-img {
        height: 200px;
        width: auto;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
    }

    .product-list-title {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .product-list-sec-row, .product-list-rating-container {
        display: flex;
        vertical-align: middle;
        width: 100%;
        height: 40px;
        position: relative;
    }

    .product-list-star {
        color: #F29F05;
        font-size: 20px;
    }

    .product-list-rating {
        font-size: 16px;
        margin-left: 5px;
        margin-top: 3px;
    }

    .product-list-container-price {
        padding-right: 10px;
        position: absolute;
        right: 0;
        bottom: 12px;
    }

    .product-list-price {
        font-size: 20px;
        color: #8D451D;
        font-weight: 500;
    }

    /* Styles for TopInformations file */
    .main-container-top-informations {
        margin-bottom: 50px;
    }

    .product-list-path-container {
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .product-list-link:hover {
        border-bottom: solid 1px black;
    }

    .top-information-title-page {
        margin-bottom: 20px;
    }

    .top-information-animal-type {
        font-weight: bold;
        font-size: 22px;
    }

    .top-information-product-category {
        font-weight: bold;
        font-size: 24px;
    }

    .top-information-product-number {
        font-weight: bold;
        font-size: 24px;
        color: #CCCCCC;
    }

    .top-information-description-title {
        color: #464646;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .top-information-description {
        color: #646464;
        font-size: 14px;
        line-height: 26px;
    }

    /* Styles for file ChangingSearchingOptions */
    .changing-searching-options-container {
        width: 700px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .changing-searching-options {
        align-items: center;
        position: relative;
    }

    .changing-searching-options-top-part {
        display: flex;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        position: relative;
        padding: 18px 20px 18px 20px;
    }

    .changing-searching-options-top-part-open {
        position: relative;
        display: flex;
        border-top: 4px solid #8D451D;
        padding: 18px 20px 14px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .top-part-options {
        color: #9A9A9A;
        font-size: 16px;
        padding-right: 15px;
    }

    .top-part-selected-options {
        color: #7b7b7b;
        font-size: 14px;
        padding-right: 5px;
        padding-top: 1px;
    }

    .top-part-selected-options-answer {
        color: #555555;
        font-size: 14px;
        padding-right: 10px;
        padding-top: 1px;
    }

    .top-part-options-chevron-down {
        color: #7b7b7b;
        font-size: 20px;
        position: absolute;
        right: 20px;
    }

    .top-part-options-chevron-none {
        display: none;
    }

    .top-part-options-chevron-up, .top-part-options-chevron-down:hover {
        color: #8D451D;
        font-size: 20px;
        position: absolute;
        right: 20px;
    }

    .top-part-hidden-box {
        width: 660px;
        padding: 15px 20px 20px 20px;
        background-color: white;
        position: absolute;
        z-index: 100;
        animation-name: going-down;
        animation-duration: 1.5s;
        animation-timing-function: ease;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
    }

    /* This is for div animation */
    @keyframes going-down {
        from {
            top: 0;
            opacity: 0;
        }
        to {
            top: 60px;
            opacity: 1;
        }
    }

    .csof-first-row, .csof-second-row, .csof-third-row {
        display: flex;
        margin-bottom: 20px;
        margin-left: 70px;
    }

    .csof-description {
        font-size: 12px;
        font-weight: 300;
        color: #7b7b7b;
    }

    .csof-breed-container, .csof-age-container,
    .csof-category-container, .csof-weight-container {
        width: 50%;
    }

    .csof-weight-container {
        display: flex;
    }

    .csof-fourth-row {
        text-align: right;
        margin-bottom: 10px;
        margin-right: 120px;
    }
}

/*@media only screen and (max-width: 1024px) {
    !* Styles for ProductsList file *!
    .main-container-products-list {
        width: 80%;
        margin: 10px auto 100px auto;
    }

    .products-filters-list-container {
        display: flex;
    }

    .filter-container {
        border: solid 1px #9D9D9D;
        padding: 10px 20px 10px 20px;
        margin-right: 60px;
        width: 20%;
        height: 450px;
    }

    .filter-title {
        font-weight: 700;
        font-size: 24px;
    }

    .filter-name {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
        margin-top: 20px
    }

    .checkbox-filters-container {
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 16px;
        padding-left: 30px;
        padding-bottom: 5px;
    }

    .checkbox-filters-number {
        display: inline-block;
        font-weight: 300;
        color: #b8b8b8;
    }

    !* Hide the default checkbox *!
    input[type=checkbox] {
        visibility: hidden;
    }

    .custom-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: solid 1px #D3D3D3;
    }

    .checkbox-filters-container:hover input ~ .custom-checkmark,
    .checkbox-filters-container input:active ~ .custom-checkmark {
        background-color: transparent;
        border: solid 1px #666666;
    }

    .checkbox-filters-container input:checked ~ .custom-checkmark {
        background-color: #8D451D;
    }

    .custom-checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkbox-filters-container input:checked ~ .custom-checkmark:after {
        display: block;
    }

    .checkbox-filters-container .custom-checkmark:after {
        left: 8px;
        bottom: 5px;
        width: 6px;
        height: 12px;
        border: solid white;
        border-width: 0 4px 4px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .price-filter-line {
        display: inline-block;
        width: 15px;
        border: solid 1px #e1e1e1;
        background-color: #e1e1e1;
        margin-top: 18px;
    }

    .right-side-csof-sorting-by-price {
        display: flex;
    }

    .rs-sorting-by-price {
        margin-top: 2px;
        width: 26%;
        text-align: right;
    }

    .products-list-container {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .product-list-container {
        grid-column: span 1 / span 1;
        grid-row: span 1 / span 1;
    }

    .product-list-container:hover {
        transform: scale(1.1);
    }

    .product-list-img {
        height: 200px;
        width: auto;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
    }

    .product-list-title {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .product-list-sec-row, .product-list-rating-container {
        display: flex;
        vertical-align: middle;
        width: 100%;
        height: 40px;
        position: relative;
    }

    .product-list-star {
        color: #F29F05;
        font-size: 20px;
    }

    .product-list-rating {
        font-size: 16px;
        margin-left: 5px;
        margin-top: 3px;
    }

    .product-list-container-price {
        padding-right: 10px;
        position: absolute;
        right: 0;
        bottom: 12px;
    }

    .product-list-price {
        font-size: 20px;
        color: #8D451D;
        font-weight: 500;
    }

    !* Styles for TopInformations file *!
    .main-container-top-informations {
        margin-bottom: 50px;
    }

    .product-list-path-container {
        font-weight: 300;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .product-list-link:hover {
        border-bottom: solid 1px black;
    }

    .top-information-title-page {
        margin-bottom: 20px;
    }

    .top-information-animal-type {
        font-weight: 700;
        font-size: 18px;
    }

    .top-information-product-category {
        font-weight: 700;
        font-size: 20px;
    }

    .top-information-product-number {
        font-weight: 700;
        font-size: 20px;
        color: #CCCCCC;
    }

    .top-information-description-title {
        color: #464646;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .top-information-description {
        color: #646464;
        font-size: 12px;
        line-height: 26px;
    }

    !* Styles for file ChangingSearchingOptions *!
    .changing-searching-options-container {
        width: 700px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .changing-searching-options {
        align-items: center;
        position: relative;
    }

    .changing-searching-options-top-part {
        display: flex;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        position: relative;
        padding: 18px 20px 18px 20px;
    }

    .changing-searching-options-top-part-open {
        position: relative;
        display: flex;
        border-top: 4px solid #8D451D;
        padding: 18px 20px 14px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .top-part-options {
        color: #9A9A9A;
        font-size: 16px;
        padding-right: 15px;
    }

    .top-part-selected-options {
        color: #7b7b7b;
        font-size: 14px;
        padding-right: 5px;
        padding-top: 1px;
    }

    .top-part-selected-options-answer {
        color: #555555;
        font-size: 14px;
        padding-right: 10px;
        padding-top: 1px;
    }

    .top-part-options-chevron-down {
        color: #7b7b7b;
        font-size: 20px;
        position: absolute;
        right: 20px;
    }

    .top-part-options-chevron-none {
        display: none;
    }

    .top-part-options-chevron-up, .top-part-options-chevron-down:hover {
        color: #8D451D;
        font-size: 20px;
        position: absolute;
        right: 20px;
    }

    .top-part-hidden-box {
        width: 660px;
        padding: 15px 20px 20px 20px;
        background-color: white;
        position: absolute;
        z-index: 100;
        animation-name: going-down;
        animation-duration: 1.5s;
        animation-timing-function: ease;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
    }

    !* This is for div animation *!
    @keyframes going-down {
        from {
            top: 0;
            opacity: 0;
        }
        to {
            top: 60px;
            opacity: 1;
        }
    }

    .csof-first-row, .csof-second-row, .csof-third-row {
        display: flex;
        margin-bottom: 20px;
        margin-left: 70px;
    }

    .csof-description {
        font-size: 12px;
        font-weight: 300;
        color: #7b7b7b;
    }

    .csof-breed-container, .csof-age-container,
    .csof-category-container, .csof-weight-container {
        width: 50%;
    }

    .csof-weight-container {
        display: flex;
    }

    .csof-fourth-row {
        text-align: right;
        margin-bottom: 10px;
        margin-right: 120px;
    }
}*/
