.main-product-container {
    width: 80%;
    margin: 50px auto 100px auto;
}

.main-details-container {
    display: flex;
}

.product-img-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.product-img {
    width: auto;
    height: 300px;
    object-fit: cover;
    margin: auto;
}

.product-vertical-line {
    display: inline-block;
    height: 330px;
    border: solid 1px #EFEFEF;
    background-color: #EFEFEF;
    margin-left: 10px;
    margin-right: 50px;
}

.product-main-details-container {
    position: relative;
    width: 35%;
}

.product-name {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

.product-rating-container {
    display: flex;
    margin-bottom: 15px;
    position: relative;
}

.product-number-opinions {
    color: #464646;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 300;
}

.product-availability {
    color: #007D00;
    font-size: 16px;
    margin-top: 3px;
    position: absolute;
    right: 0;
}

.product-no-availability {
    color: #CC221C;
    font-size: 16px;
    margin-top: 3px;
    position: absolute;
    right: 0;
}

.product-weights-container, .product-delivery-container {
    display: flex;
    margin-bottom: 10px;
}

.product-producer-name {
    font-weight: 300;
    padding-right: 5px;
}

.product-producer-container, .product-code-container {
    display: flex;
    margin-bottom: 5px;
}

.product-variable-name {
    font-weight: 300;
    padding-right: 5px;
    font-size: 16px;
}

.product-variable-value {
    font-size: 16px;
}

.product-weight-name {
    font-weight: 300;
    padding-right: 5px;
    font-size: 16px;
}

.product-weight-btn {
    border: solid 1px #CCCCCC;
    color: #818181;
    border-radius: 50px;
    margin-right: 10px;
    width: 70px;
    font-size: 16px;
}

.product-weight-btn:hover {
    border: solid 1px #CCCCCC;
    color: #af7d61;
    border-radius: 50px;
    margin-right: 10px;
    width: 70px;
    font-size: 16px;
}

.product-weight-view-btn {
    border: solid 1px #CCCCCC;
    color: #8D451D;
    border-radius: 50px;
    margin-right: 10px;
    width: 70px;
}

.product-quantity-price-container {
    margin-top: 20px;
    position: relative;
    display: flex;
}

.product-quantity-container {
    display: flex;
}

.product-quantity-name {
    font-weight: 300;
    padding-right: 5px;
    font-size: 16px;
    padding-top: 7px;
}

.product-btn-quantity {
    border-radius: 50px;
    border: solid 1px #CCCCCC;
    display: flex;
}

.product-btn-minus {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    color: #818181;
}

.product-btn-plus {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    color: #818181;
}

.product-btn-minus:hover, .product-btn-plus:hover {
    color: #F29F05;
    transform: scale(1.3);
}

.product-btn-quantity-number {
    font-size: 16px;
    width: 40px;
    padding: 6px 0 5px 0;
    text-align: center;
    border-left: solid 1px #CCCCCC;
    border-right: solid 1px #CCCCCC;
}

.product-main-price {
    color: #8D451D;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    right: 0;
}

.product-base-price{
    font-size: 18px;
    color: #464646;
    text-decoration: line-through solid 1px #666666;
    position: absolute;
    right: 100px;
    margin-right: 10px;
    bottom: 3px;
}

.product-sale-price{
    color: #BF1515;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    right: 0;
}

.product-btn-add-container {
    position: relative;
    margin-top: 20px;
}

.product-btn-add-to-card {
    width: 200px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: -5px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.product-btn-add-to-card:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.product-btn-add-to-card:focus {
    outline: none;
}

.product-btn-add-to-card {
    background-image: linear-gradient(
            to right,
            #a6523f,
            #bf6211,
            #8d451d,
            #47230f
    );
}

.circular-progress-container{
    width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
