@media only screen and (min-width: 1024px) {
    .container-wm {
        width: 100%;
        height: 650px;
        position: relative;
        background: rgb(203, 206, 215);
        background: linear-gradient(90deg, rgba(203, 206, 215, 1) 0%, rgba(227, 230, 237, 1) 100%);
        margin-bottom: 100px;
    }

    .container-text {
        position: absolute;
        left: 330px;
        top: 0;
        width: 30%;
        transform: translateY(40%);
        display: inline-block;
        vertical-align: middle;
    }

    .top-text-wm {
        font-weight: bold;
        font-size: 32px;
    }

    .second-text-wm {
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 25px;
    }

    .block-of-text-wm {
        margin-bottom: 25px;
        font-size: 18px;
        color: #262626;
    }

    .adoption-btn {
        cursor: pointer;
        font-size: 18px;
        width: 200px;
        height: 50px;
        color: white;
        background-color: #8D451D;
        border-radius: 50px;
    }

    .adoption-btn:hover {
        background-color: transparent;
        color: #8D451D;
        border: solid 2px #8D451D;
    }

    .container-img {
        position: absolute;
        left: 65%;
        bottom: 0;
        width: auto;
        vertical-align: middle;
    }

    .dog-image {
        height: 90%;
        width: auto;
    }

    .container-img-cat {
        position: absolute;
        left: 50%;
        bottom: 0;
        top: 0;
        width: auto;
        display: flex;
        align-items: flex-end;
    }

    .cat-image {
        height: 70%;
        width: auto;
    }
}

@media only screen and (max-width: 1024px) {
    .container-wm {
        width: 100%;
        height: 450px;
        position: relative;
        background: rgb(203, 206, 215);
        background: linear-gradient(90deg, rgba(203, 206, 215, 1) 0%, rgba(227, 230, 237, 1) 100%);
        margin-bottom: 15px;
    }

    .container-text {
        position: absolute;
        width: 100%;
        transform: translateY(25%);
        text-align: center;
    }

    .top-text-wm {
        font-weight: bold;
        font-size: 26px;
    }

    .second-text-wm {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 15px;
    }

    .block-of-text-wm {
        display: none;
    }

    .adoption-btn {
        cursor: pointer;
        font-size: 16px;
        width: 200px;
        height: 40px;
        color: white;
        background-color: #8D451D;
        border-radius: 50px;
    }

    .adoption-btn:hover {
        background-color: transparent;
        color: #8D451D;
        border: solid 2px #8D451D;
    }

    .container-img {
        position: absolute;
        left: 50%;
        right: 10%;
        bottom: 0;
        width: auto;
    }

    .container-img-cat {
        position: absolute;
        left: 20%;
        bottom: 0;
        top: 0;
        width: auto;
        display: flex;
        align-items: flex-end;
    }

    .cat-image {
        height: 50%;
        width: auto;
    }
}
