.container-wm {
    width: 80%;
    height: 650px;
    margin: 50px auto 100px auto;
    display: flex;
}

.container-text {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    padding-top: 120px;
    padding-left: 70px;
}

.top-text-wm {
    font-size: 32px;
}

.second-text-wm {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 25px;
}

.block-of-text-wm {
    margin-bottom: 25px;
    font-size: 22px;
    color: #262626;
    font-weight: 300;
}

.image-wm {
    height: 90%;
    width: auto;
}

