.main-choose-option-container {
    width: 80%;
    margin: 50px auto 100px auto;
}

.choose-option-title {
    font-size: 32px;
    padding-left: 110px;
}

.choose-option-question {
    padding-top: 5px;
    font-size: 28px;
    color: #464646;
    padding-bottom: 35px;
    padding-left: 110px;
}

.choose-option-container {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.choose-option-adoption, .choose-option-shop {
    height: 600px;
    width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.choose-option-adoption:hover, .choose-option-shop:hover {
    height: 600px;
    width: 600px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    transform: scale(1.1);
}

.choose-option-img {
    object-fit: cover;
    width: auto;
    height: 500px;
    margin: auto;
}

.choose-option-btn-adoption {
    color: #8D451D;
    font-size: 60px;
}

.choose-option-btn-shop {
    color: #F29F05;
    font-size: 60px;
}
